.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    padding: 20px;
    gap: 10px;
  }
  
  .heading {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 32px;
    font-size: black;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .choiceButton {
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .choiceButton:hover {
    transform: scale(1.2);
  }
  